.phone {
	background: url(tablet.jpg) no-repeat;
	height: 600px;
	width: 850px; 
	margin: 20px auto;
	position: relative;
	font-family: Tahoma, Helvetica, Arial;
}

.screen{
    position: absolute;
    top: 78px;
    left: 66px;
    width: 724px;
    height: 450px;
    background-color: #444444;
    overflow: auto;
}
.title{
    text-align: center;
    color: #b1b1b1;
}
.thumbnail{
    width: 150px;
    border: 1px solid #303030;
    display: inline-block;
	margin: 2px;
}
.thumb-img{
    width: 130px;
    padding: 10px;
}
.gallery{
    padding: 15px;
    margin: 10px;
    background: #111111;
}
.pull-right{
    float: right;
}
.editor{
	margin: 10px;
	width: 684px;
	margin-left: 10px;
	background: #ffffff;
}
.editable {
	width: 664px;
	padding: 10px;
	height: auto;
}
.pulldown{
	position: absolute; 
	right: 35px;
	top: 30px;
	width: 140px;
	height: 60px;
	background: #111111;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 2px solid #888888;
	border-top: none;
	text-align: center;
	opacity: 0.8;
    padding-top: 20px;
}
.pulldownmenu{
	position: absolute; 
	right: 35px;
	top: 30px;
	width: 190px;
	background: #111111;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 2px solid #888888;
	border-top: none;
	text-align: center;
	opacity: 0.8;
}
.menu-icon{
	font-size: 30px;
	color: white;
    padding: 14px;
    border: 0px solid #333333;
}
.menu-icon:hover{
    border: 1px solid #333333;
}
.menuitems{
	margin-top: -35px;
	color: #aaaaaa;
	list-style: none;
}
.menuitem{
	padding: 5px;
	border-bottom: 1px solid #555555;
}
.floatingbox{
    position: absolute;
    top: 150px;
    left: 200px;
    background: #111111;
}
#areabox{
    position: absolute;
    background: #eee;
    top: 150px;
    left: 200px;
    height: 50px;
    width: 50px;
    opacity: 0.4;
    border: 1px solid white;
}
#areabox:hover{
    -webkit-box-shadow: inset 0 0 10px #eee;
    box-shadow: inset 0 0 10px #111;
    cursor: move;
}
#rangeselectbox{
	border-radius: 10px;
	border: 2px solid #888888;
	font-size: 20px;
	color: #999999;
    text-align: center;
}
.rangetype{
	font-family: Tahoma, Helvetica, Arial;
    padding: 20px;
}
.rangewidget{
}

