.subhead{
    font-family: serif;
}
.top-menu{
    padding: 20px;
}
.top-menu-item{
    padding: 10px;
    size: 18px;
}
.boxed {
    border: solid 1px black;
}
.mail, .user{
    padding: 5px;
    margin-bottom: 3px;
    background: #cccccc;
}
.mail-buttons{
    float: right;
    font-size: 12px;
}
.mail-button{
    padding-right: 8px;
}
.timer{
    width: 10px;
}
/*i:hover{
    font-size: 16px;
}*/
.remove{
    background: #FABBBB;
}
.later{
    background: #BBFAC7;
}
#replybox{
    position: relative;
    display: block;
    width: 6000px;
    margin-left: 740px;
    background: #bbbbbb;
}
.replybox-hint{
    font-color: #888888;
    padding-top: 100px;
}
